In [1]:
import os
path_to_directory="C:/Users/91798/Downloads/NATOPS/NATOPS/"
files = [arff for arff in os.listdir(path_to_directory) if arff.endswith(".arff")]

def toCsv(content): 
    data = False
    header = ""
    newContent = []
    for line in content:
        if not data:
            if "@attribute" in line:
                attri = line.split()
                columnName = attri[attri.index("@attribute")+1]
                header = header + columnName + ","
            elif "@data" in line:
                data = True
                header = header[:-1]
                header += '\n'
                newContent.append(header)
        else:
            newContent.append(line)
    return newContent

for i,file in enumerate(files):
    with open(path_to_directory+file , "r") as inFile:
        content = inFile.readlines()
        name,ext = os.path.splitext(inFile.name)
        new = toCsv(content)
        with open(name+".csv", "w") as outFile:
            outFile.writelines(new)

In [2]:
csv_files = [fcsv for fcsv in os.listdir(path_to_directory) if fcsv.endswith(".csv")]

In [3]:
len(csv_files)

50

In [4]:
import pandas as pd

directory = 'C:/Users/91798/Downloads/NATOPS/NATOPS/'
data_frames = []

for filename in csv_files:
    if filename.endswith(".csv"):
        file_path = os.path.join(directory, filename)
        df = pd.read_csv(file_path)
        data_frames.append(df)

In [5]:
reshaped_data_frames = []
for i in range(len(data_frames)):
    temp = data_frames[i].stack().reset_index(drop=True).to_frame()
    reshaped_data_frames.append(temp)

In [6]:
reshaped_data_frames[1].shape

(9360, 1)

In [7]:
reshaped_data_frames[0]

             0
0     0.631310
1     0.632066
2     0.633518
3     0.634159
4     0.634378
...        ...
9355  0.630602
9356  0.607822
9357  0.600801
9358  0.597154
9359  4.000000

[9360 rows x 1 columns]

In [8]:
big_data_frame1 = reshaped_data_frames[0]

In [9]:
big_data_frame1.rename(columns = {0:'feature1'}, inplace = True)

In [10]:
big_data_frame1.head()

   feature1
0  0.631310
1  0.632066
2  0.633518
3  0.634159
4  0.634378

In [11]:
temp_column = reshaped_data_frames[2]
data1 = pd.concat([big_data_frame1,temp_column], axis = 1)

In [12]:
data1.head()

   feature1         0
0  0.631310 -0.807240
1  0.632066 -0.807258
2  0.633518 -0.807240
3  0.634159 -0.809020
4  0.634378 -0.809834

In [13]:
v = 0
name = ['feature2','feature3','feature4','feature5','feature6','feature7','feature8','feature9','feature10','feature11','feature12','feature13','feature14','feature15','feature16','feature17','feature18','feature19','feature20','feature21','feature22','feature23','feature24','feature25','feature26']
for i in range(3,50):
    if i%2 == 0:
        temp_column = reshaped_data_frames[i]
        data1 = pd.concat([data1,temp_column], axis = 1)
        data1.rename(columns = {0:name[v]}, inplace = True)
        v+=1

In [14]:
data1.head()

,feature1,feature2,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,...,feature15,feature16,feature17,feature18,feature19,feature20,feature21,feature22,feature23,feature24
0,0.631310,-0.807240,-0.279330,-0.630195,-1.451361,-0.465686,0.665998,-1.593898,-0.737468,-0.707356,...,-0.806243,-1.897467,-0.689874,0.597063,-1.922938,-0.836496,-0.586639,-0.827417,-0.100443,-1.69794
1,0.632066,-0.807258,-0.278007,-0.626388,-1.464355,-0.474674,0.666855,-1.595835,-0.737365,-0.706467,...,-0.804118,-1.922840,-0.700692,0.594941,-1.922243,-0.834670,-0.587231,-0.831042,-0.103778,-1.707901\n-0.806243
2,0.633518,-0.807240,-0.274849,-0.642930,-1.462434,-0.474046,0.669992,-1.597528,-0.735672,-0.712429,...,-0.805056,-1.912729,-0.702529,0.599973,-1.917021,-0.838037,-0.590665,-0.840662,-0.110054,-0.804118
3,0.634159,-0.809020,-0.274106,-0.666163,-1.477584,-0.476590,0.671575,-1.599879,-0.736326,-0.715938,...,-0.803497,-1.930459,-0.711766,0.605679,-1.917102,-0.841104,-0.590144,-0.823007,-0.115432,-0.805056
4,0.634378,-0.809834,-0.273313,-0.663127,-1.492872,-0.505572,0.672169,-1.601423,-0.736355,-0.715920,...,-0.803804,-1.935742,-0.727374,0.597675,-1.918653,-0.842211,-0.594716,-0.835395,-0.121241,-0.803497

In [15]:
data1.insert(0, 'SEQUENCE_ID', range(0, len(data1)))

In [16]:
data1.head()

,SEQUENCE_ID,feature1,feature2,feature2,feature3,feature4,feature5,feature6,feature7,feature8,...,feature15,feature16,feature17,feature18,feature19,feature20,feature21,feature22,feature23,feature24
0,0,0.631310,-0.807240,-0.279330,-0.630195,-1.451361,-0.465686,0.665998,-1.593898,-0.737468,...,-0.806243,-1.897467,-0.689874,0.597063,-1.922938,-0.836496,-0.586639,-0.827417,-0.100443,-1.69794
1,1,0.632066,-0.807258,-0.278007,-0.626388,-1.464355,-0.474674,0.666855,-1.595835,-0.737365,...,-0.804118,-1.922840,-0.700692,0.594941,-1.922243,-0.834670,-0.587231,-0.831042,-0.103778,-1.707901\n-0.806243
2,2,0.633518,-0.807240,-0.274849,-0.642930,-1.462434,-0.474046,0.669992,-1.597528,-0.735672,...,-0.805056,-1.912729,-0.702529,0.599973,-1.917021,-0.838037,-0.590665,-0.840662,-0.110054,-0.804118
3,3,0.634159,-0.809020,-0.274106,-0.666163,-1.477584,-0.476590,0.671575,-1.599879,-0.736326,...,-0.803497,-1.930459,-0.711766,0.605679,-1.917102,-0.841104,-0.590144,-0.823007,-0.115432,-0.805056
4,4,0.634378,-0.809834,-0.273313,-0.663127,-1.492872,-0.505572,0.672169,-1.601423,-0.736355,...,-0.803804,-1.935742,-0.727374,0.597675,-1.918653,-0.842211,-0.594716,-0.835395,-0.121241,-0.803497

In [17]:
data1.insert(26, 'IS_TEST', 0)

In [18]:
data1.head()

,SEQUENCE_ID,feature1,feature2,feature2,feature3,feature4,feature5,feature6,feature7,feature8,...,feature16,feature17,feature18,feature19,feature20,feature21,feature22,feature23,feature24,IS_TEST
0,0,0.631310,-0.807240,-0.279330,-0.630195,-1.451361,-0.465686,0.665998,-1.593898,-0.737468,...,-1.897467,-0.689874,0.597063,-1.922938,-0.836496,-0.586639,-0.827417,-0.100443,-1.69794,0
1,1,0.632066,-0.807258,-0.278007,-0.626388,-1.464355,-0.474674,0.666855,-1.595835,-0.737365,...,-1.922840,-0.700692,0.594941,-1.922243,-0.834670,-0.587231,-0.831042,-0.103778,-1.707901\n-0.806243,0
2,2,0.633518,-0.807240,-0.274849,-0.642930,-1.462434,-0.474046,0.669992,-1.597528,-0.735672,...,-1.912729,-0.702529,0.599973,-1.917021,-0.838037,-0.590665,-0.840662,-0.110054,-0.804118,0
3,3,0.634159,-0.809020,-0.274106,-0.666163,-1.477584,-0.476590,0.671575,-1.599879,-0.736326,...,-1.930459,-0.711766,0.605679,-1.917102,-0.841104,-0.590144,-0.823007,-0.115432,-0.805056,0
4,4,0.634378,-0.809834,-0.273313,-0.663127,-1.492872,-0.505572,0.672169,-1.601423,-0.736355,...,-1.935742,-0.727374,0.597675,-1.918653,-0.842211,-0.594716,-0.835395,-0.121241,-0.803497,0

In [19]:
big_data_frame1 = data1

In [20]:
big_data_frame1.head()

,SEQUENCE_ID,feature1,feature2,feature2,feature3,feature4,feature5,feature6,feature7,feature8,...,feature16,feature17,feature18,feature19,feature20,feature21,feature22,feature23,feature24,IS_TEST
0,0,0.631310,-0.807240,-0.279330,-0.630195,-1.451361,-0.465686,0.665998,-1.593898,-0.737468,...,-1.897467,-0.689874,0.597063,-1.922938,-0.836496,-0.586639,-0.827417,-0.100443,-1.69794,0
1,1,0.632066,-0.807258,-0.278007,-0.626388,-1.464355,-0.474674,0.666855,-1.595835,-0.737365,...,-1.922840,-0.700692,0.594941,-1.922243,-0.834670,-0.587231,-0.831042,-0.103778,-1.707901\n-0.806243,0
2,2,0.633518,-0.807240,-0.274849,-0.642930,-1.462434,-0.474046,0.669992,-1.597528,-0.735672,...,-1.912729,-0.702529,0.599973,-1.917021,-0.838037,-0.590665,-0.840662,-0.110054,-0.804118,0
3,3,0.634159,-0.809020,-0.274106,-0.666163,-1.477584,-0.476590,0.671575,-1.599879,-0.736326,...,-1.930459,-0.711766,0.605679,-1.917102,-0.841104,-0.590144,-0.823007,-0.115432,-0.805056,0
4,4,0.634378,-0.809834,-0.273313,-0.663127,-1.492872,-0.505572,0.672169,-1.601423,-0.736355,...,-1.935742,-0.727374,0.597675,-1.918653,-0.842211,-0.594716,-0.835395,-0.121241,-0.803497,0

In [21]:
big_data_frame2 = reshaped_data_frames[1]

In [22]:
big_data_frame2.rename(columns = {0:'feature1'}, inplace = True)

In [23]:
temp_column = reshaped_data_frames[3]
data2 = pd.concat([big_data_frame2,temp_column], axis = 1)

In [24]:
v = 0
for i in range(4,50):
    if i%2 != 0:
        temp_column = reshaped_data_frames[i]
        data2 = pd.concat([data2,temp_column], axis = 1)
        data2.rename(columns = {0:name[v]}, inplace = True)
        v+=1

In [25]:
big_data_frame1

,SEQUENCE_ID,feature1,feature2,feature2,feature3,feature4,feature5,feature6,feature7,feature8,...,feature16,feature17,feature18,feature19,feature20,feature21,feature22,feature23,feature24,IS_TEST
0,0,0.631310,-0.807240,-0.279330,-0.630195,-1.451361,-0.465686,0.665998,-1.593898,-0.737468,...,-1.897467,-0.689874,0.597063,-1.922938,-0.836496,-0.586639,-0.827417,-0.100443,-1.69794,0
1,1,0.632066,-0.807258,-0.278007,-0.626388,-1.464355,-0.474674,0.666855,-1.595835,-0.737365,...,-1.922840,-0.700692,0.594941,-1.922243,-0.834670,-0.587231,-0.831042,-0.103778,-1.707901\n-0.806243,0
2,2,0.633518,-0.807240,-0.274849,-0.642930,-1.462434,-0.474046,0.669992,-1.597528,-0.735672,...,-1.912729,-0.702529,0.599973,-1.917021,-0.838037,-0.590665,-0.840662,-0.110054,-0.804118,0
3,3,0.634159,-0.809020,-0.274106,-0.666163,-1.477584,-0.476590,0.671575,-1.599879,-0.736326,...,-1.930459,-0.711766,0.605679,-1.917102,-0.841104,-0.590144,-0.823007,-0.115432,-0.805056,0
4,4,0.634378,-0.809834,-0.273313,-0.663127,-1.492872,-0.505572,0.672169,-1.601423,-0.736355,...,-1.935742,-0.727374,0.597675,-1.918653,-0.842211,-0.594716,-0.835395,-0.121241,-0.803497,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9535,9535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.618963,0
9536,9536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.412571,0
9537,9537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.472645,0
9538,9538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.454302',0
9539,9539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0

In [27]:
data2.insert(0, 'SEQUENCE_ID', range(9540, 9540+len(data2)))

In [28]:
data2.insert(26, 'IS_TEST', 1)

In [29]:
data2.head()

,SEQUENCE_ID,feature1,feature2,feature2,feature3,feature4,feature5,feature6,feature7,feature8,...,feature16,feature17,feature18,feature19,feature20,feature21,feature22,feature23,feature24,IS_TEST
0,9540,0.599967,-0.823936,-0.286140,-0.507478,-1.369001,-0.515990,0.577993,-1.534954,-0.673190,...,-1.821679,-0.846321,0.465208,-2.015072,-0.839242,-0.564097,-0.796225,-0.149604,-1.68312,1
1,9541,0.597535,-0.822723,-0.285675,-0.489377,-1.382364,-0.537491,0.576627,-1.532795,-0.671919,...,-1.841987,-0.846325,0.467033,-2.007557,-0.838151,-0.564499,-0.797622,-0.150012,-1.721661\n-0.810086,1
2,9542,0.597007,-0.820954,-0.285412,-0.510865,-1.371936,-0.510966,0.576456,-1.532478,-0.671555,...,-1.821358,-0.839571,0.471135,-2.010042,-0.832021,-0.563753,-0.795704,-0.151608,-0.818863,1
3,9543,0.599099,-0.822648,-0.285793,-0.506752,-1.383616,-0.530980,0.579362,-1.535441,-0.672198,...,-1.845643,-0.848031,0.506153,-2.032552,-0.841696,-0.565008,-0.790238,-0.152350,-0.78806,1
4,9544,0.606181,-0.826938,-0.290546,-0.529976,-1.560801,-0.658221,0.626759,-1.482552,-0.659393,...,-1.941721,-0.885500,0.611207,-1.953282,-0.902529,-0.573550,-0.799730,-0.169575,-0.816695,1

In [30]:
big_data_frame2 = data2

In [31]:
big_data_frame2.head()

,SEQUENCE_ID,feature1,feature2,feature2,feature3,feature4,feature5,feature6,feature7,feature8,...,feature16,feature17,feature18,feature19,feature20,feature21,feature22,feature23,feature24,IS_TEST
0,9540,0.599967,-0.823936,-0.286140,-0.507478,-1.369001,-0.515990,0.577993,-1.534954,-0.673190,...,-1.821679,-0.846321,0.465208,-2.015072,-0.839242,-0.564097,-0.796225,-0.149604,-1.68312,1
1,9541,0.597535,-0.822723,-0.285675,-0.489377,-1.382364,-0.537491,0.576627,-1.532795,-0.671919,...,-1.841987,-0.846325,0.467033,-2.007557,-0.838151,-0.564499,-0.797622,-0.150012,-1.721661\n-0.810086,1
2,9542,0.597007,-0.820954,-0.285412,-0.510865,-1.371936,-0.510966,0.576456,-1.532478,-0.671555,...,-1.821358,-0.839571,0.471135,-2.010042,-0.832021,-0.563753,-0.795704,-0.151608,-0.818863,1
3,9543,0.599099,-0.822648,-0.285793,-0.506752,-1.383616,-0.530980,0.579362,-1.535441,-0.672198,...,-1.845643,-0.848031,0.506153,-2.032552,-0.841696,-0.565008,-0.790238,-0.152350,-0.78806,1
4,9544,0.606181,-0.826938,-0.290546,-0.529976,-1.560801,-0.658221,0.626759,-1.482552,-0.659393,...,-1.941721,-0.885500,0.611207,-1.953282,-0.902529,-0.573550,-0.799730,-0.169575,-0.816695,1

In [33]:
dframes = [big_data_frame1,big_data_frame2]
final_df = pd.concat(dframes)

In [35]:
final_df.head()

,SEQUENCE_ID,feature1,feature2,feature2,feature3,feature4,feature5,feature6,feature7,feature8,...,feature16,feature17,feature18,feature19,feature20,feature21,feature22,feature23,feature24,IS_TEST
0,0,0.631310,-0.807240,-0.279330,-0.630195,-1.451361,-0.465686,0.665998,-1.593898,-0.737468,...,-1.897467,-0.689874,0.597063,-1.922938,-0.836496,-0.586639,-0.827417,-0.100443,-1.69794,0
1,1,0.632066,-0.807258,-0.278007,-0.626388,-1.464355,-0.474674,0.666855,-1.595835,-0.737365,...,-1.922840,-0.700692,0.594941,-1.922243,-0.834670,-0.587231,-0.831042,-0.103778,-1.707901\n-0.806243,0
2,2,0.633518,-0.807240,-0.274849,-0.642930,-1.462434,-0.474046,0.669992,-1.597528,-0.735672,...,-1.912729,-0.702529,0.599973,-1.917021,-0.838037,-0.590665,-0.840662,-0.110054,-0.804118,0
3,3,0.634159,-0.809020,-0.274106,-0.666163,-1.477584,-0.476590,0.671575,-1.599879,-0.736326,...,-1.930459,-0.711766,0.605679,-1.917102,-0.841104,-0.590144,-0.823007,-0.115432,-0.805056,0
4,4,0.634378,-0.809834,-0.273313,-0.663127,-1.492872,-0.505572,0.672169,-1.601423,-0.736355,...,-1.935742,-0.727374,0.597675,-1.918653,-0.842211,-0.594716,-0.835395,-0.121241,-0.803497,0